<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		
		<!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="../../static/recursosApp/bootstrap.min.css">
	    <!-- Bootstrap Icons CSS -->
	    <link rel="stylesheet" href="../../static/recursosApp/icons-main/font/bootstrap-icons.min.css">
		
	</head>
	<body style="height:auto;">
		
		<header>
			<!-- Aquí se carga el header mediante un archivo javascript -->
		</header>
		
		<!-- Inicio Contenido principal -->
	    <div class="container mt-4">
	        <h1 class="text-center font-weight-bold">Bienvenido</h1>
			<div class="container mt-4 d-flex justify-content-center">
				<img src="../../static/img/zitane.jpg" style="width:1000px"></img>
			</div>
	    </div>
	    <!-- Fin Contenido principal -->
	    
	    <footer>
	    	<!-- Aquí se carga el footer mediante un archivo javascript -->
		</footer>
	    
	    
	<!-- ZONA DE SCRIPTS-->
		<!-- jQuery -->
	    <script src="../../static/recursosApp/jquery.min.js"></script>
	    <!-- Bootstrap JS -->
	    <script src="../../static/recursosApp/bootstrap.min.js"></script>
	    
	    
	    <!-- script cargar menu navegación y footer -->
	    <script src="../../static/javascript/menuNav_footer.js"></script>
	    
	</body>
</html>